@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  background-color: #fff;

  font: normal 14px/19px Menlo,Inconsolata,Consolas,SourceCodePro,monospace;
}

body {
}

.tools {
  margin: 0;
  padding: 4px;

  background-color: #e2e2e2;
}

.input {
  padding: 4px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input > input {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  border: 0;
  outline: 0;

  font: normal 14px/19px Menlo,Inconsolata,Consolas,SourceCodePro,monospace;
}

.input > input:focus {
  outline: 0;
}

.input--labelled {

}

.input__label {

}

.input--cover {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.input[data-state="hidden"] {
  display: none;
}

.input[data-state="visible"] {
  display: block;
}

.input[data-focused="true"] {
  border-color: #927ba9;
}

.main {
  margin: 4px;
  position: relative;
}

.todos {
  margin: 0;
  padding: 0;
  position: relative;

  counter-reset: todos;
  list-style-type: none;
}

.todos > li {
  padding: 4px 4px 4px 28px;
  position: relative;

  border: 1px solid #fff;
  border-bottom-color: #f2f2f2;
  counter-increment: todos;
}

.todos > li::before {
  bottom: 7px;
  content: counter(todos);
  left: 0;
  display: inline-block;
  position: absolute;
  width: 22px;

  color: #bbb;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
}

.todos [data-focused="true"] {
  background-color: #f2f2f2;
  border-top-color: #f2f2f2;
}

.todos[data-focused="true"] [data-focused="true"] {
  border-color: #927ba9;
  border-radius: 3px;
}
