@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;

  background-color: #fff;

  font: normal 14px/19px Menlo,Inconsolata,Consolas,SourceCodePro,monospace;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.icon {
  display: inline-block;
  height: 18px;
  overflow: hidden;
  width: 18px;

  background: transparent; none no-repeat center center;
  background-size: contain;

  text-indent: 100%;
  white-space: nowrap;
}

.i--search {
  background-image: url("../img/icon-search.svg");
}

.i--jump {
  background-image: url("../img/icon-jump.svg");
}

.tools {
  margin: 0;
  padding: 4px;

  background-color: #b2b2b2;
  border-bottom: 1px solid #6c6c6c;
}

.tools__container {
  position: relative;
}

.input-wrapper {
  padding: 4px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: white;
  border: 0;
  outline: 0;

  font: normal 14px/19px Menlo,Inconsolata,Consolas,SourceCodePro,monospace;
}

.input:focus {
  outline: 0;
}

.input--with-label,
.input--with-icon {
  position: relative;
}

.input__container {
  padding-left: 3.6em;
}

.input__container--has-icon {
  padding-left: 22px;
}

.input--has-label {

}

.input__label {
  left: 0;
  position: absolute;
  top: 3px;
  width: 3.4em;

  text-align: right;
}

.input__icon {
  left: 4px;
  position: absolute;
  top: 5px;
}

.input--tools {
  border-color: #8c8c8c;
}

.input--cover {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.input-wrapper[data-state="hidden"] {
  display: none;
}

.input-wrapper[data-state="visible"] {
  display: block;
}

.input-wrapper[data-focused="true"] {
  border-color: #927ba9;
}

.input--tools[data-focused="true"] {
  border-color: #000;
}

.pill {
  padding: 3px 6px 2px;

  background-color: #cdc0db;
  border: 1px solid #b4a2c5;
  border-radius: 12px;

  color: #492c66;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}

.pill--dull {
  background-color: #ccc;
  border-color: #999;

  color: #666;
}

.main-wrapper {
  height: calc(100% - 37px);
  position: relative;
}

.main {
  bottom: 0;
  left: 0;
  margin: 4px;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
}

.todos {
  margin: 0;
  padding: 0;
  position: relative;

  counter-reset: todos;
  list-style-type: none;
}

.todos [data-focused="true"] {
  background-color: #ececec;
  border-top-color: #ececec;
}

.item {
  padding: 4px 4px 4px 28px;
  position: relative;

  border: 1px solid #fff;
  border-bottom-color: #f2f2f2;
  counter-increment: todos;
}

.todos[data-focused="true"] [data-focused="true"] {
  border-color: #927ba9;
  border-radius: 3px;
}

.item::before {
  bottom: 7px;
  content: counter(todos);
  left: 0;
  display: inline-block;
  position: absolute;
  width: 22px;

  color: #999;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
}

/*
.todos[data-focused="true"] .item[data-focused="true"]::before {
  color: #666;
}
*/

.item--complete {
  color: #aaa;
  text-decoration: line-through;
}

.item--complete .item__text {
  padding-left: 16px;
  position: relative;
}

.item--complete .item__text::before {
  content: "\2714";
  left: 0;
  margin-right: 3px;
  position: absolute;
  top: -2px;

  color: #ccc;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.item__metadata {
  margin: 4px 0 0;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 0;

  opacity: 0.5;
  list-style-type: none;
}

[data-focused="true"] > .item__metadata {
  opacity: 1;
}

.item__metadata__single {
  float: left;
  margin-left: 2px;
}

.item__metadata__single--project {

}

.item__metadata__single--context {
  background-color: #c0dbc9;
  border-color: #a1c4ad;

  color: #2c663f;
}

.item--complete .item__metadata__single--project,
.item--complete .item__metadata__single--context {
  background-color: #e2e2e2;
  border-color: #bbb;

  color: #888;
}
