.app-icon {
  margin-bottom: 18px;
  width: 110px;
}

.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
  background-color: rgba(41, 29, 52, 0.8);
}

.window {
  left: 50%;
  margin-left: -10em;
  padding: 32px;
  position: absolute;
  top: 4em;
  width: 20em;
  z-index: 2001;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
}

.window-title {
  margin: 0 0 16px;
  font-size: 24px;
}

.window-text {
  margin: 0 0 12px;
}

.filename {
  font: inherit;
  color: #492c66;
}

.window-btn {
  margin-top: 24px;
}

.window-path {
  overflow: hidden;
}

.window-path-icon {
  display: inline-block;
  width: 18px;
  vertical-align: middle;
}

.window-path-filename {
  vertical-align: middle;
}

.window-options {
  margin: 28px 0 0;
  padding: 0;
  list-style-type: none;
}

.window-options > li {
  display: inline-block;
}
