.sidebar-wrapper {
  float: left;
  height: calc(100% - 37px);
  position: relative;
  width: 149px;

  background-color: #e2e2e2;
  border-right: 1px solid #ccc;
}

.sidebar {
  bottom: 0;
  left: 0;
  margin: 7px 4px 4px;
  overflow: scroll;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.tags-title {
  margin: 9px 0 8px;
  padding: 0;

  color: #777;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.tags {
  margin: 0 0 24px;
  padding: 0;

  list-style-type: none;
}

.tags > li {
  margin-bottom: 4px;
}
