.sidebar-wrapper {
  float: left;
  height: calc(100% - 37px);
  position: relative;
  width: 180px;

  background-color: #e2e2e2;
  border-right: 1px solid #bbb;
}

.sidebar {
  bottom: 0;
  left: 0;
  margin: 7px 4px 4px;
  overflow: scroll;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.tags-title {
  margin: 9px 0 8px;
  padding: 0;

  background-image: linear-gradient(to bottom, #e2e2e2 0%, #e2e2e2 47%, #bbb 46%, #bbb 54%, #e2e2e2 55%, #e2e2e2 100%);

  color: #777;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.tags-title__wrap {
  display: inline-block;
  padding-right: 6px;

  background-color: #e2e2e2;
}

.tags__intro {
  color: #888;
}

.tags-list {
  margin: 0 0 24px;
  padding: 0;

  counter-reset: tags;

  list-style-type: none;
}

.tags-list > li {
  margin-bottom: 4px;

  counter-increment: tags;
}

.tag {
  position: relative;
}

.tag::before {
  content: counter(tags);
  display: inline-block;
  margin-right: 4px;

  font-weight: bold;
}

[data-state="active"] .tag {
  display: block;
}

[data-state="active"] .tag::after {
  content: "\25B6";
  float: right;
  right: -3px;
  position: relative;
  top: -2px;

  opacity: 0.7;
  transform: scale(0.9, 1.3);
}
