.tags-title {
  margin: 9px 0 8px;
  padding: 0;

  background-image: linear-gradient(to bottom, #e2e2e2 0%, #e2e2e2 47%, #bbb 46%, #bbb 54%, #e2e2e2 55%, #e2e2e2 100%);

  color: #777;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.tags-title__wrap {
  display: inline-block;
  padding-right: 6px;

  background-color: #e2e2e2;
}

.tags__intro {
  color: #888;
}

.tags-list {
  margin: 0 0 24px;
  padding: 0;

  counter-reset: tags;

  list-style-type: none;
}

.tags-list > li {
  margin-bottom: 4px;

  counter-increment: tags;
}

.tag {
  padding-left: 19px;
  position: relative;
}

.tag::before {
  content: counter(tags);
  display: none;
  margin-right: 4px;

  font-weight: bold;
}

.tags-list > li:nth-child(1) .tag,
.tags-list > li:nth-child(2) .tag,
.tags-list > li:nth-child(3) .tag,
.tags-list > li:nth-child(4) .tag,
.tags-list > li:nth-child(5) .tag,
.tags-list > li:nth-child(6) .tag,
.tags-list > li:nth-child(7) .tag,
.tags-list > li:nth-child(8) .tag,
.tags-list > li:nth-child(9) .tag {
  padding-left: 8px; /* Default value for the pill */
}

.tags-list > li:nth-child(1) .tag::before,
.tags-list > li:nth-child(2) .tag::before,
.tags-list > li:nth-child(3) .tag::before,
.tags-list > li:nth-child(4) .tag::before,
.tags-list > li:nth-child(5) .tag::before,
.tags-list > li:nth-child(6) .tag::before,
.tags-list > li:nth-child(7) .tag::before,
.tags-list > li:nth-child(8) .tag::before,
.tags-list > li:nth-child(9) .tag::before {
  display: inline-block;
}

[data-state="active"] .tag {
  display: block;
}

[data-state="active"] .tag::after {
  content: "\25B6";
  float: right;
  right: -3px;
  position: relative;
  top: -2px;

  opacity: 0.7;
  transform: scale(0.9, 1.3);
}

.tag--priority {
  background-color: rgba(254, 42, 141, 0.1);
  border-color: rgba(254, 42, 141, 0.3);
  color: #cc196d;
}
